<p style="font-size:30px; text-align:center; line-height:120%">
<br>
COMS W 4111-002<br>
W4111 - Introduction to Databases<br>
Fall 2020 Take Home Midterm<br>
</p>

<br><br>
<p style="font-size:30px;  line-height:120%">
Exam Overview and Instructions
</p>

- Homework assignments and exams have point values. Final grade depends on total point value. The range of total possible points for a semester is 0 to 100 points (not including extra-credit).
    - The grade for this midterm is in the range 0 to 100.
    - __This midterm exam is worth 20 points__ for your final semester points total. So, divide your score on this exam by 5 to determine point contribution.


- Submission:
    - The exam is due on 01-Nov-2020 at 11:59PM. __You may not use grace days.__
    - Submission:
        - Submission format is a zip file. The zip file must contain:
            - A copy of this Jupyter Notebook with your solutions entered into the code cells or Markdown cells for each question.
            - Any images or other artifacts that your notebook uses.
        - Naming conventions:
            - You must name your zip file <uni>_W4111_F20_002_midterm.zip. For example, my zip file would be dff9_W4111_F20_002_midterm.zip.
            - Your must name the notebook file <uni>_W4111_F20_002_midterm.ipynb. For example, my notebook file in the zip file would be named dff9_W4111_F20_002_midterm.ipynb
        - If you embed images or diagrams, you must include the files in the zip file, and any use of the files from within the notebook must work. There is an example for how to include images later in this notebook. 
        - You submit your homework on CourseWorks under "Midterm Examination" assignment.
        - No other formats are allowed.
        - If the notebook format is incorrect or the notebook is corrupted, the grade is 0.
        - Submissions after the due date and time are not allowed. Submissions not received on time receive a grade of 0.
    - Respect for the individual is paramount. We will accommodate special circumstances, but we must be notified and discuss __in advance.__
    

- Exam Rules:
    - Please read and review the [Academic Integrity policy and guidelines](https://www.college.columbia.edu/academics/academicintegrity), including subsections and details. This material defines the rules for this exam regardless of your school.
    - No collaboration of any form is permitted. You may not share material of any form, including links to on-line information, __information from the preparatory recitation section,__ suggestions or ideas, etc.
    - You __MAY__ use material from office hours or recitations.
    - You MAY use any on-line information you find, but may not directly use code or text you find. You must cite any on-line sources in the comments Markdown cell for each question.
    - You must privately send comments or questions to Professor Ferguson, Ara Peterson or Carrie Hay Kellar via email. If questions or comments demonstrate a need for clarification or correction, Prof. Ferguson will post a clarification on Piazza. __You are responsible for monitoring Piazza for clarifications.__
    - You may not discuss the exam on Piazza. The CA or professor may post clarifying comment on Piazza.

- Completing the exam:
    - Environment:
        - You must have a user ID ```dbuser``` with password ```dbuserdbuser``` and use in any connections you use to answer a question. 
        - You will need to use several databases/schemas for the homework. A question requiring a databases will identify the database to use, and provide instructions for creating and loading it if necessary. You MUST use the table names and database names exactly as specified.
        - Section 2 tests the setup of your environment. This setup/test uses  dbuser:dbuserdbuser@localhost/db_book_new, where db_book_new is the database containing tables from the book. You __MAY CHANGE__ the database to the name of the sample database on your system. For answers to questions, you __MUST USE__ the DB names and schemas the question requests.
    - Each question starts with an explanation of the structure of the answer, e.g. prose, diagram, SQL, etc.
    - Questions requiring SQL or code have empty text cells where you enter your statements. Some also contain sample answers to help you determine if your answer is correct. You must show the execution of your SQL in your submission. You may use LIMIT 10 to reduce the size of results unless otherwise specified.

You may include diagrams in text/Markdown cells when answering a question. You can include a diagram using an HTML tag of the form:<br><br>

```<img src="./filename.file_extension">```

<br>
The example below between the horizontal lines includes an image. You can click on the cell to see the Markdown code for including the image. <b>Your submit a zip file must the notebook and your images if you include diagrams or images in your submission.</b>
<br><br>

<hr style="height:2px;">

- Double click in between lines to see the Markdown example for including a diagram.
<br><br>
<img src="./Columbia_University_shield.svg.png">
<br><br>
<hr style="height:2px;">

<span style="font-size:24px; color:red; line-height:1.2;">Note:</span>

- <span style="color:red;">Not all questions with the same point value are equally hard. </span>


- <span style="color:red;">One ten point question might be much easier than another ten point question.</span>


- <span style="color:red;">Students sometimes complain about the discrepancy in difficulty and value.</span>


- <span style="color:red;">I am sensitive to the concern. I am happy to resolve this complaint by redoing the exam to make all ten point questions as hard as the hardest ten point question.</span>


- <span style="color:red;">Just let me know.</span>

<p style="font-size:30px;  line-height:120%">
Questions Overview
</p>

There are 8 questions:
- Questions 1-7 are each worth 10 points.
- Question 8 is worth 30 points.

Some advice for answering questions, especially written questions.


- ["If it takes a lot of words to say what you have in mind, give it more thought."](https://www.wiseoldsayings.com/brevity-quotes/#ixzz6btZxLJ5z)    


- "If you can't explain it simply, you don't understand it well enough." Attributed to Einstein.


We __will deduct points__ if your answer is too long, rambling, etc.

<p style="font-size:30px;  line-height:120%">
Environment Test
</p>

This section tests the environment. The test assumes that the name of the database containing the material from [Databases Systems Concepts](https://www.db-book.com/db7/index.html) website. You had to install this database for homework 2. The connection statement below assumes that the name of your database is __newbook.__


__SQL Magic Plugin__

In [1]:
%load_ext sql

%sql mysql+pymysql://dbuser:dbuserdbuser@localhost/db_book_new
        
%sql select * from time_slot;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
20 rows affected.

[('A', 'F', Decimal('8'), Decimal('0'), Decimal('8'), Decimal('50')),
 ('A', 'M', Decimal('8'), Decimal('0'), Decimal('8'), Decimal('50')),
 ('A', 'W', Decimal('8'), Decimal('0'), Decimal('8'), Decimal('50')),
 ('B', 'F', Decimal('9'), Decimal('0'), Decimal('9'), Decimal('50')),
 ('B', 'M', Decimal('9'), Decimal('0'), Decimal('9'), Decimal('50')),
 ('B', 'W', Decimal('9'), Decimal('0'), Decimal('9'), Decimal('50')),
 ('C', 'F', Decimal('11'), Decimal('0'), Decimal('11'), Decimal('50')),
 ('C', 'M', Decimal('11'), Decimal('0'), Decimal('11'), Decimal('50')),
 ('C', 'W', Decimal('11'), Decimal('0'), Decimal('11'), Decimal('50')),
 ('D', 'F', Decimal('13'), Decimal('0'), Decimal('13'), Decimal('50')),
 ('D', 'M', Decimal('13'), Decimal('0'), Decimal('13'), Decimal('50')),
 ('D', 'W', Decimal('13'), Decimal('0'), Decimal('13'), Decimal('50')),
 ('E', 'R', Decimal('10'), Decimal('30'), Decimal('11'), Decimal('45')),
 ('E', 'T', Decimal('10'), Decimal('30'), Decimal('11'), Decimal('45')),
 ('F', 'R', Decimal('14'), Decimal('30'), Decimal('15'), Decimal('45')),
 ('F', 'T', Decimal('14'), Decimal('30'), Decimal('15'), Decimal('45')),
 ('G', 'F', Decimal('16'), Decimal('0'), Decimal('16'), Decimal('50')),
 ('G', 'M', Decimal('16'), Decimal('0'), Decimal('16'), Decimal('50')),
 ('G', 'W', Decimal('16'), Decimal('0'), Decimal('16'), Decimal('50')),
 ('H', 'W', Decimal('10'), Decimal('0'), Decimal('12'), Decimal('30'))]


# Question 1: Database Concepts

This question requires __brief__ written answers.

## Question 1.1

__Codd's Rule 10: Integrity Independence__

"A database must be independent of the application that uses it. All its integrity constraints can be independently modified without the need of any change in the application. This rule makes a database independent of the front-end application and its interface."

Briefly explain how a relational database management system supports this rule.

_Answer_

Following integrtiy constraints is inherent within RDBMS. First, no attribute in primary key can be NULL. Also, for every distinct foreign key in a referencing table, there must exsit a matching primary key in the source table. Moreover, RDBMS has constraints such as not null and unique, and the system checks these constraints independently.

## Question 1.2

Explain the concepts of _atomic domain_ and _domain constraint._

_Answer_

A domain of an attribute is a set of permitted values for that attribute. A domain is atomic if all elements in the domain are indivisible. A domain constraint of an attribute is a constraint on the set of permitted values on which that attribute can take. For example, not null is a domain constraint.

## Question 1.3

Briefly explain two-tier and three tier applications. What database management system concept connects the application tier and the database tier?

_Answer_

In two tier architecture, application is at the client machine and accesses database system, which is at the server machine, through query language. In three tier architecture, client machine merely serves as front end and does not access database directly. Front end communicates with an application server. The application server communicates with the database system and accesses data. The business logic of the application is embedded in the application tier instead of client machine. 

Application tier access data in the database tier through query language statements.

## Question 1.4

The information for the Lahman 2019 Baseball Database is available as a [set of CSV files.](https://github.com/chadwickbureau/baseballdatabank/archive/master.zip) A team of users and programmers could manipulate and update the data by uploading the CSV files to Google Sheets, and then editing or accessing via programs.

List 5 benefits of using a database management system instead of shared Google Sheets.

_Answer_

1. DBMS enforces integrity constraints and checks them independently. 
2. DBMS is better at storing at large volume of data. When the size of data gets big, even opening Google Sheets becomes a problem. 
3. DBMS provides more comprehensive ways of processing/manipulating data.
4. DBMS provides more detailed and specific authorization. For example, in DBMS, a user can be authorized with only a subset of rights (inserts, update, delete, etc).
5. Google sheets are only good for texts/numbers while DBMS generally can store other types of data such as images.

## Question 1.5

Define the following terms:
- Data Definition Language
- Data Manipulation Language
- Procedural DML
- Declarative DML

Why would someone use a procedural language to manipulate data?

__Answer__

DDL: language for specifying the database schema and other properties of the data.
DML: language that enables users to access or manipulate data.
Procedural DML: DML that requires users to specify both what data are wanted and how to get wanted data.
Declarative DML: DML that only requires users to specify what data are wanted.

Using procedural language is usually more efficient in terms of runtime compared to declarative language.

## Question 1.6

List five responsibilities of a database management system. For each responsibility, explain one problem that would arise if the DBMS did not implement the responsibility.

_Answer_

1. A DBMS is responsible for interacting with file management system. Without this responsibility, a DBMS cannot retrieve content stored in the files. 
2. A DBMS is responsible for enforcing integrity constraints. Without this responsibility, users may enter and get invalid data from DBMS. 
3. A DBMS is responsible for enforcing security. Without this responsibility, users can access unauthorized part of the database. For example, a janitor can access the data which only CEO is allowed to access.
4. A DBMS is responsible for maintaining backup and recovering from failure. Without this responsibility, data may be lost due to unforeseeable events such as electricity outage. 
5. A DBMS is responsible for consistency control. Without this responsibility, data in DBMS may be incorrect. For example, a simultaneous withdrawal and deposit to a bank account will lead to incorrect balance.

## Question 1.7

Many applications avoid using BLOBs and CLOBs for storing images, documents, etc. Briefly explain an alternate approach that the applications can use.

_Answer_

Instead of storing BLOBs and CLOBs, database stores URLS that reference BLOBs and CLOBs. BLOBs and CLOBs themselves are stored in specific "object storage" such as Azure Blob Storage and are then delivered by web server.

## Question 1.8

Briefly explain the concepts of structured data, unstructured data and semi-structured data. Which type of data are documents (Word, HTML, Google Docs) and why?

_Answer_

Structured data is organized into a well-defined data model. Fields of structured data can be pre-designed and are strong typed. All records for a data type has the same field and there are integrity constraints on values. 

Unstructured data is data without explicit records, delimiters, fields or properties. Unstructured data is usually a sequence of characters/bytes that are only interpretable to specific processing engine.

Semi-structured data have some organizational properties and thus can be parsed to extract records and fields into data structures. However, it contains inconsistency and thus cannot be organized into a rigid data model such as relational database. 

Documents are typically semi-structured data because documents share some common consistent and definite components such as header, body, footer. But different documents have different combinations of these components and these components can be arranged and nested in different ways.

## Question 1.9

Explain how data redundancy in a database can lead to data inconsistency. What is one technique that a relational DBMS provides that helps eliminate data inconsistency.

_Answer_

With redundancy, same data may be copied multiple times in a database. As a result, a piece of data may become inconsistent if we updated one copy or some copies of the data but failed to update all copies of the data. <br>
One technique provided by relational DBMS is database normalization, which aims to structure relational database in a way to reduce data redundancy.

## Question 1.10

Explain the concept of and benefits of _physical data independence._

_Answer_

Physical data independence refers to the ability to modify the physical scheme without having to rewrite application programs. In other words, changes in physical level don't propagate to logical or view level. 

Physical data independence allows users to describe a database in conceptual level without having to specify physical structures. Also, with physical data independence, users can easily change physical storage devices without affecting logical scheme.

References:
1. textbook
2. https://sites.google.com/site/gtublog/sem2/2620003/responsibilitiesofdbms
3. https://www.astera.com/type/blog/structured-semi-structured-and-unstructured-data/
4. https://www.chegg.com/homework-help/Database-System-Concepts-5th-edition-chapter-1-problem-10E-solution-9780071244763
5. https://www.guru99.com/dbms-data-independence.html#:~:text=Physical%20data%20independence%20helps%20you,to%20achieve%20physical%20data%20independence.
6. https://www.geeksforgeeks.org/physical-and-logical-data-independence/#:~:text=Physical%20Data%20Independence%20is%20defined,the%20Logical%20or%20View%20levels.

# Question 2 $-$ Relational Concepts

## Question 2.1

The _real numbers_ is a mathematical domain. In a relational model of professors' salaries, the ```salary``` column is a relational domain. What are some differences between the real domain and salary domain. What is one technique a relational database provides for enforcing domain semantics?

_Answer_

First of all, salary domain does not include negative numbers while real domain does. Also, salary domain can include NULL while real domain does not include NULL. Moreover, since salary must be a realistic value, salary domain has a lot more constraints. For example, salary does not include irrational number. Data type and domain are used by relational database to enforce domain semantics. Attributes have a certain data type or a domain with its set of domain constraints, both placing restriction on the set of permitted values.

## Question 2.2

Consider the following description of entity sets:
- Family:
    - A family has a unique integer ID.
    - A last name
- Family Members:
    - First name
    - Generation $-$ an integer.
    - Middle name
    
Using the relational model, write the schema definitions and indicate primary keys. Explain any design choices or assumptions you made. The _relational model_ and SQL are not the same thing.

_Answer_

Tables:

Family(<u>family_ID</u>, last_name)

FamilyMembers(<u>first_name, generation, middle_name, family_ID</u>)

Explanation: 

Family table has two attributes: family_ID and last_name. family_ID is the primary key as it can uniquely identifies a row in Family table.

FamilyMembers table has four attributes: first_name, generation, middle_name, and family_ID. Let's assume that in every family, for every person in every generation, he/she has a unique combination of first name and middle name. Thus, the primary key of table FamilyMembers is (first_name, generation, middle_name, family_ID). Also, family_ID in Family acts as foreign key in FamilyMembers.

## Question 2.3

Briefly explain the following terms and provide a very brief example of each:
1. Super key
2. Candidate key
3. Primary key
4. Alternate key (Secondary key)
5. Foreign key
6. Compound key
7. Composite key
8. Surrogate key
9. Natural key
10. External key

_Answer_ <br>
Consider a table Student(ID, first_name, last_name, phone) where ID is the primary key and phone is unique. 
1. Super key is a set of one or more attributes that collectively uniquely identify a row in a table. In the table Family in Question 2.2, family_ID is a super key.
2. A candidate key is a super key for which no proper subset is also a super key. In Family, family_ID is also a candidate key.
3. A primary key is a candidate key chosen by the designer as the principal attribute(s) for uniquely identifying a row in a table. There can be at most one primary key in a table. In Family, family_ID is also a primary key.
4. An alternate key is a candidate key which is not selected as primary key. In Student, phone is an alternate key.
5. A foreign key in a table is one attributes or a combination of attributes that provide and enforce a link between data in two tables. In table FamilyMembers in Question 2.2, family_ID is a foreign key.
7. A composite key is a candidate key which contains two or more attributes. In table FamilyMembers, (first_name, generation, middle_name, family_ID) together forms a composite key.
6. A compound key is a composite key for which each attribute itself is a foreign key. Suppose (column1, column2) in table A is a composite key. Suppose column1 is a foreign key referencing table B and column2 is a foreign key referencing table C, then (column1, column2) is a compound key of table A.
8. A surrogate key is an attribute that uniquely identifies a row in a table and is not derived from application data. Suppose the attribute ID in student is incremental, i.e. student in row 1 has ID 1 and row 2 has ID 2, then ID in Student is a surrogate key
9. A natural key is a candidate key in which every attribute is derived from application data. In Student, phone is a natural key.
10. An exetrnal key is a surrogate key whose domain comes from an external standard. Suppose ID in Student refers to students' SSN, which is defined by the government agency. Then ID is an external key.

## Question 2.4

These are some examples of airline flight numbers that you can look up on [FlightStats](https://www.flightstats.com/v2).
- AA1001
- BA12
- DL27

Information about a flight includes departure airport and arrival airport. There are international standard codes for airports. Using the relational model, define relations, keys, etc. to model flights, airlines and airports. Explain your choices.

_Answer_

Tables:

Airports(<u>airport_code</u> , name, city, state, country)

Airlines(<u>airline_code</u>, name)

Flights(<u>flight_code, airline_code, date, month, year</u>, departure_airport, departure_terminal, departure_gate, departure_time, arrival_airport, arrival_terminal, arrival_gate, arival_time)

Explanantions:

Airports table has four attributes: airport_code, name, city, state, and country. airport_code is the primary key.

Airlines table has two attributes: airline_code and name. airline_code is the primary key.

Flights table has 13 attributes. Assume that every flight of every airline flies at most once per day. Thus, (flight_code, airline_code, date, month, year) is the primary key. 

Relations:

1. A flight departures from an airport. (1 to many  relation between Flight and Airport based on departure)
2. A flight arrives at an airport. (1 to many relation between Flight and Airport based on arrival)
3. A flight belongs to an airline. (1 to many relation between Flight and Airline based on belonging to)
4. An airport has many airlines. (many to many relation between Airport and Airline based on hosting)

## Question 2.5

Explain the following terms:
- Cross-product
- Natural join
- Equi-join
- Theta-join

_Answer_

1. Table C = (table A cross-product table B) means that every row in A is horizontally concatenated with every row in B to form a row in C. If A has m rows and p columns and B has n rows and q columns, then C has mn rows and (p+q) columns. 
2. Natural join is the same as cross-product except row1 from A and row2 from B are horizontally concatenated to form a row in C (= A natural join B) if row1 and row2 have the same values on the attributes that appear in both A and B. Shared attributes between A and B only appear once in C.
3. Equi-join joins tables based on the equivalence of one or more specified attributes (for example, A.column1 = B.column2). The specified attributes don't need to have the same name. Matched (equivalent) columns occur multiple times in the resultant table. Equi-join can be performed on more than two tables.
4. Theta-join joins tables using based on the condition theta. Theta can be any comparison operators. Thus, equi-join is theta-join if theta is an equivalence condition.

References: 
1. https://en.wikipedia.org/wiki/Natural_key
2. https://en.wikipedia.org/wiki/Surrogate_key
3. https://en.wikipedia.org/wiki/Composite_key
4. https://web.csulb.edu/colleges/coe/cecs/dbdesign/dbdesign.php?page=keys.php

# Question 3 $-$ Relational Algebra

## Answer Format

Use the [on-line relational calculator](https://dbis-uibk.github.io/relax/calc/local/uibk/local/0) to answer these questions. Your answers should be screen shots showing the statement, execution tree and first page of the result table. You should use the data set associated with the textbook and HW2 for answers, which is: "Silberschatz - UniversityDB"

For example, what your answers should look like is

"Write a query that produces a table of the form (dept_name, number of professors in the department)."

_Sample Answer_

Algebra statement:

```
γ dept_name; count(ID)→InstructorCount (instructor)
```

<img src="./q3_example.png">

__Note:__
1. Save the screen captured image to a file in the notebook directory, and then embed in the answer area following the approach explained above.
2. You __MUST__ have the text version of your statement in the answer cell in addition to the image.

# Question 3.1

The image below shows a natural join between _instructor_ and _department._ Write an equivalent query that uses Cartesian product (cross-join) and other relational operators to produce the same result.

<img width=500px src="./q3.1.png">

_Answer_

```
π instructor.ID, instructor.name, instructor.dept_name, instructor.salary, department.building, department.budget (σ department.dept_name = instructor.dept_name (instructor ⨯ department))
```

<img width=500px src="./3.1.png">

## Question 3.2

Using the sample university data, write a relational algebra expression that produces the following relation:<br><br>
```student_building_classes(student_name, building, no_classes_in_building)```
<br><br>
Where:
1. ```student_name``` is the students name.
2. ```building``` is the name of a building.
3. ```no_classes_in_building``` is the number of classes that the student took in the building.

The answer should be ordered by ```student_name, building``` ascending.

_Answer_

```
τ student_name, building (π student.name→student_name, section.building→building, no_classes_in_building ((γ name, building; count(course_id)→no_classes_in_building ((student ⨝ takes) ⨝ section))))
```

<img width=500px src="./3.2_1.png">
<img width=500px src="./3.2_2.png">

## Question 3.3

Produce the table below. The columns are:
1. ```department_name``` is the name of a department.
2. ```total_salary``` is the sum of the salaries of instructors in the department.
3. ```non_salary_budget``` is the ```budget``` column from the department relation.
4. ```total_spending``` is the sum of ```total_salary``` and ```non_salary_budget```

<img src="./q3.3q.png">

_Answer_

```
π dept_name→department_name, total_salary, budget→non_salary_budget, (total_salary+budget)→total_spending ((γ dept_name; sum(salary)→total_salary (instructor ⨝ department)) ⨝ department)
```

<img width=500px src="./3.3_1.png">
<img width=500px src="./3.3_2.png">

## Question 3.4

Write an relational algebra expression that computes a table of the form:<br><br>

```classes_not_taken(student_name, course_id)```<br><br>

which is contains student names and the course_ids for course the student __has not taken.__

__Answer__

```
course_taken = π name, course_id (student ⨝ takes)
ρ classes_not_taken (τ student_name (π name→student_name, course.course_id→course_id (student ⨯ course) - course_taken))
```

<img width=500px src="./3.4_1.png">
<img width=500px src="./3.4_2.png">

# Question 4 $-$ Data Modeling

Consider the following relations/entity sets:
1. ```customer(social_security_number, last_name, first_name, email).``` The columns have the obvious meanings.<br><br>
2. ```checking_account(account_id, balance, over_draft_limit)```
    - ```account_id``` is an integer and unique.
    - ```balance``` is the account balance.
    - ```over_draft_limit``` is the total amount that the account is allowed to be overdrawn.<br><br>
3. ```savings_account(account_id, balance, interest_rate)```
    - ```account_id``` is an integer and unique.
    - ```balance``` is the account balance.
    - ```interest_rate``` is the annual interest rate for the account.<br><br>
4. ```mortgage(mortgage_id, balance, monthly_payment, remaining_months)```
    - ```mortgage_id``` is an integer and unique.
    - ```balance``` is the remaining balance.
    - ```monthly_payment``` is the monthly amount to be paid on the mortgage.
    - ```remaining_months``` is how many more payments are required.<br><br>
5. ```employee(employee_id, last_name, first_name, email)```
    - ```employee_id``` is a unique integer ID.
    - The remaining fields have the obvious meaning.<br><br>
6. ```portfolio``` is an entity that:
    - Is associated with exactly one ```customer.```
    - Is associated with exactly one ```employee.```
    - Is associated with exactly one ```mortgage.```
    - Is associated with one or more ```checking_accounts.```
    - Is associated with one or more ```savings_accounts.```
    
    
Use LucidChart and Crow's Foot notation to draw a logical data model for the entities, columns, relationships, primary keys and foreign keys. You __MAY NOT__ submit a hand drawn diagram.

_Answer_

<img width=600px src="./4.png">

# Question 5 $-$   Schema Design/Data Cleanup

- The zip file you downloaded for the midterm contains a file ```countries.sql.```


- Use your Lahman 2019 basebase database for this question. Your DB schema name __must be__ ```lahman2019.```


- In MySQL Workbench,
    - Set the ```lahman2019``` as the default schema.
    - Use File --> Open SQL Script and open the countries.sql.
    - Run the script.  This will create a new table ```countries``` in the database.
    
    
- Run the SQL cell below.

In [35]:
%sql use lahman2019;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.

[]

In [12]:
%sql create table people_fixed like people;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.

[]

In [13]:
%sql insert into people_fixed select * from people;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
20087 rows affected.

[]

In [28]:
%sql select * from people_fixed limit 10;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
10 rows affected.

[('aardsda01', 1981, 12, 27, 'US', 'CO', 'Denver', None, None, None, None, None, None, 'David', 'Aardsma', 'David Allan', 215, 75, 'R', 'R', '2004-04-06', '2015-08-23', 'aardd001', 'aardsda01', datetime.date(1981, 12, 27), datetime.date(2004, 4, 6), datetime.date(2015, 8, 23), None),
 ('aaronha01', 1934, 2, 5, 'US', 'AL', 'Mobile', None, None, None, None, None, None, 'Hank', 'Aaron', 'Henry Louis', 180, 72, 'R', 'R', '1954-04-13', '1976-10-03', 'aaroh101', 'aaronha01', datetime.date(1934, 2, 5), datetime.date(1954, 4, 13), datetime.date(1976, 10, 3), None),
 ('aaronto01', 1939, 8, 5, 'US', 'AL', 'Mobile', 1984, 8, 16, 'US', 'GA', 'Atlanta', 'Tommie', 'Aaron', 'Tommie Lee', 190, 75, 'R', 'R', '1962-04-10', '1971-09-26', 'aarot101', 'aaronto01', datetime.date(1939, 8, 5), datetime.date(1962, 4, 10), datetime.date(1971, 9, 26), datetime.date(1984, 8, 16)),
 ('aasedo01', 1954, 9, 8, 'US', 'CA', 'Orange', None, None, None, None, None, None, 'Don', 'Aase', 'Donald William', 190, 75, 'R', 'R', '1977-07-26', '1990-10-03', 'aased001', 'aasedo01', datetime.date(1954, 9, 8), datetime.date(1977, 7, 26), datetime.date(1990, 10, 3), None),
 ('abadan01', 1972, 8, 25, 'US', 'FL', 'Palm Beach', None, None, None, None, None, None, 'Andy', 'Abad', 'Fausto Andres', 184, 73, 'L', 'L', '2001-09-10', '2006-04-13', 'abada001', 'abadan01', datetime.date(1972, 8, 25), datetime.date(2001, 9, 10), datetime.date(2006, 4, 13), None),
 ('abadfe01', 1985, 12, 17, 'DO', 'La Romana', 'La Romana', None, None, None, None, None, None, 'Fernando', 'Abad', 'Fernando Antonio', 235, 74, 'L', 'L', '2010-07-28', '2019-09-28', 'abadf001', 'abadfe01', datetime.date(1985, 12, 17), datetime.date(2010, 7, 28), datetime.date(2019, 9, 28), None),
 ('abadijo01', 1850, 11, 4, 'US', 'PA', 'Philadelphia', 1905, 5, 17, 'US', 'NJ', 'Pemberton', 'John', 'Abadie', 'John W.', 192, 72, 'R', 'R', '1875-04-26', '1875-06-10', 'abadj101', 'abadijo01', datetime.date(1850, 11, 4), datetime.date(1875, 4, 26), datetime.date(1875, 6, 10), datetime.date(1905, 5, 17)),
 ('abbated01', 1877, 4, 15, 'US', 'PA', 'Latrobe', 1957, 1, 6, 'US', 'FL', 'Fort Lauderdale', 'Ed', 'Abbaticchio', 'Edward James', 170, 71, 'R', 'R', '1897-09-04', '1910-09-15', 'abbae101', 'abbated01', datetime.date(1877, 4, 15), datetime.date(1897, 9, 4), datetime.date(1910, 9, 15), datetime.date(1957, 1, 6)),
 ('abbeybe01', 1869, 11, 11, 'US', 'VT', 'Essex', 1962, 6, 11, 'US', 'VT', 'Colchester', 'Bert', 'Abbey', 'Bert Wood', 175, 71, 'R', 'R', '1892-06-14', '1896-09-23', 'abbeb101', 'abbeybe01', datetime.date(1869, 11, 11), datetime.date(1892, 6, 14), datetime.date(1896, 9, 23), datetime.date(1962, 6, 11)),
 ('abbeych01', 1866, 10, 14, 'US', 'NE', 'Falls City', 1926, 4, 27, 'US', 'CA', 'San Francisco', 'Charlie', 'Abbey', 'Charles S.', 169, 68, 'L', 'L', '1893-08-16', '1897-08-19', 'abbec101', 'abbeych01', datetime.date(1866, 10, 14), datetime.date(1893, 8, 16), datetime.date(1897, 8, 19), datetime.date(1926, 4, 27))]

In [29]:
%sql describe people_fixed;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
28 rows affected.

[('playerID', 'varchar(9)', 'NO', 'PRI', None, ''),
 ('birthYear', 'int', 'YES', '', None, ''),
 ('birthMonth', 'int', 'YES', '', None, ''),
 ('birthDay', 'int', 'YES', '', None, ''),
 ('birthCountry_code', 'char(2)', 'YES', 'MUL', None, ''),
 ('birthState', 'varchar(255)', 'YES', '', None, ''),
 ('birthCity', 'varchar(255)', 'YES', '', None, ''),
 ('deathYear', 'int', 'YES', '', None, ''),
 ('deathMonth', 'int', 'YES', '', None, ''),
 ('deathDay', 'int', 'YES', '', None, ''),
 ('deathCountry_code', 'char(2)', 'YES', 'MUL', None, ''),
 ('deathState', 'varchar(255)', 'YES', '', None, ''),
 ('deathCity', 'varchar(255)', 'YES', '', None, ''),
 ('nameFirst', 'varchar(255)', 'YES', '', None, ''),
 ('nameLast', 'varchar(255)', 'YES', '', None, ''),
 ('nameGiven', 'varchar(255)', 'YES', '', None, ''),
 ('weight', 'int', 'YES', '', None, ''),
 ('height', 'int', 'YES', '', None, ''),
 ('bats', 'varchar(255)', 'YES', '', None, ''),
 ('throws', 'varchar(255)', 'YES', '', None, ''),
 ('debut', 'varchar(255)', 'YES', '', None, ''),
 ('finalGame', 'varchar(255)', 'YES', '', None, ''),
 ('retroID', 'varchar(255)', 'YES', '', None, ''),
 ('bbrefID', 'varchar(255)', 'YES', '', None, ''),
 ('birth_date', 'date', 'YES', '', None, ''),
 ('debut_date', 'date', 'YES', '', None, ''),
 ('finalgame_date', 'date', 'YES', '', None, ''),
 ('death_date', 'date', 'YES', '', None, '')]

- ```birthCountry``` and ```deathCountry``` are ```varchar``` but clearly should come from a fixed set of values.


- You will use the ```countries``` table data to come up with a better design for ```people_fixed.```


- There is some dirty data in the ```people_fixed``` country information relative to the ```countries``` table.


- The corrections are:

| Name in   people_fixed | Corrected Name        |
|------------------------|-----------------------|
| At Sea                 | Not applicable value. |
| Bahamas                | Bahamas The           |
| CAN                    | Canada                |
| Curacao                | Netherlands Antilles  |
| D.R.                   | Dominican Republic    |
| Hong Kong              | Hong Kong S.A.R.      |
| Netherlands            | Netherlands The       |
| North Korea            | Korea North           |
| P.R.                   | Puerto Rico           |
| South Korea            | Korea South           |
| USA                    | United States         |
| V.I.                   | Virgin Islands (US)   |
| Viet Nam               | Vietnam               |

- This questions tasks are:
    - Make modifications to ```people_fixed``` definition to correctly model ```deathCountry``` and ```birthCountry```
    - Set the necessary values in ```people_fixed.```
    
    
- In the answer below, put:
    - Your modified definition of ```people_fixed.```
    - The SQL statements you used to correct data.
    - A query on ```people_fixed``` that demonstrates your correction with sample data.

_Answer_

__create statement:__
~~~~sql
CREATE TABLE `people_fixed` (
  `playerID` varchar(9) NOT NULL,
  `birthYear` int DEFAULT NULL,
  `birthMonth` int DEFAULT NULL,
  `birthDay` int DEFAULT NULL,
  `birthCountry_code` char(2) DEFAULT NULL,
  `birthState` varchar(255) DEFAULT NULL,
  `birthCity` varchar(255) DEFAULT NULL,
  `deathYear` int DEFAULT NULL,
  `deathMonth` int DEFAULT NULL,
  `deathDay` int DEFAULT NULL,
  `deathCountry_code` char(2) DEFAULT NULL,
  `deathState` varchar(255) DEFAULT NULL,
  `deathCity` varchar(255) DEFAULT NULL,
  `nameFirst` varchar(255) DEFAULT NULL,
  `nameLast` varchar(255) DEFAULT NULL,
  `nameGiven` varchar(255) DEFAULT NULL,
  `weight` int DEFAULT NULL,
  `height` int DEFAULT NULL,
  `bats` varchar(255) DEFAULT NULL,
  `throws` varchar(255) DEFAULT NULL,
  `debut` varchar(255) DEFAULT NULL,
  `finalGame` varchar(255) DEFAULT NULL,
  `retroID` varchar(255) DEFAULT NULL,
  `bbrefID` varchar(255) DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `debut_date` date DEFAULT NULL,
  `finalgame_date` date DEFAULT NULL,
  `death_date` date DEFAULT NULL,
  PRIMARY KEY (`playerID`),
  KEY `birthCountry_idx` (`birthCountry_code`),
  KEY `deathCountry_idx` (`deathCountry_code`),
  CONSTRAINT `birthCountry` FOREIGN KEY (`birthCountry_code`) REFERENCES `countries` (`iso2`),
  CONSTRAINT `deathCountry` FOREIGN KEY (`deathCountry_code`) REFERENCES `countries` (`iso2`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

~~~~
<br><br><br><br><br><br>

__SQL statements used to correct data:__
~~~~sql
ALTER TABLE `lahman2019`.`people_fixed` 
CHANGE COLUMN `playerID` `playerID` VARCHAR(9) NOT NULL ,
ADD PRIMARY KEY (`playerID`);

update people_fixed
set birthYear = NULLIF(birthYear, "nan"), birthMonth = NULLIF(birthMonth, "nan"), birthDay = NULLIF(birthDay, "nan"),
birthCountry = NULLIF(birthCountry, "nan"), birthState= NULLIF(birthState, "nan"), birthCity = NULLIF(birthCity, "nan"),
deathYear = NULLIF(deathYear, "nan"), deathMonth = NULLIF(deathMonth, "nan"), deathDay = NULLIF(deathDay, "nan"), 
deathCountry = NULLIF(deathCountry, "nan"), deathState = NULLIF(deathState, "nan"), deathCity = NULLIF(deathCity, "nan"), 
nameFirst = NULLIF(nameFirst, "nan"), nameLast = NULLIF(nameLast, "nan"), nameGiven = NULLIF(nameGiven, "nan"),
weight = NULLIF(weight, "nan"), height = NULLIF(height, "nan"), bats = NULLIF(bats, "nan"),
throws = NULLIF(throws, "nan"), debut = NULLIF(debut, "nan"), finalGame = NULLIF(finalGame, "nan"),
retroID = NULLIF(retroID, "nan"), bbrefID = NULLIF(bbrefID, "nan");

ALTER TABLE `lahman2019`.`people_fixed` 
CHANGE COLUMN `birthYear` `birthYear` INT NULL DEFAULT NULL ,
CHANGE COLUMN `birthMonth` `birthMonth` INT NULL DEFAULT NULL ,
CHANGE COLUMN `birthDay` `birthDay` INT NULL DEFAULT NULL ,
CHANGE COLUMN `birthCountry` `birthCountry` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `birthState` `birthState` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `birthCity` `birthCity` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `deathYear` `deathYear` INT NULL DEFAULT NULL ,
CHANGE COLUMN `deathMonth` `deathMonth` INT NULL DEFAULT NULL ,
CHANGE COLUMN `deathDay` `deathDay` INT NULL DEFAULT NULL ,
CHANGE COLUMN `deathCountry` `deathCountry` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `deathState` `deathState` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `deathCity` `deathCity` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `nameFirst` `nameFirst` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `nameLast` `nameLast` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `nameGiven` `nameGiven` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `weight` `weight` INT NULL DEFAULT NULL ,
CHANGE COLUMN `height` `height` INT NULL DEFAULT NULL ,
CHANGE COLUMN `bats` `bats` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `throws` `throws` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `debut` `debut` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `finalGame` `finalGame` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `retroID` `retroID` VARCHAR(255) NULL DEFAULT NULL ,
CHANGE COLUMN `bbrefID` `bbrefID` VARCHAR(255) NULL DEFAULT NULL ;

ALTER TABLE `lahman2019`.`people_fixed` 
ADD COLUMN `birth_date` DATE NULL DEFAULT NULL AFTER `bbrefID`,
ADD COLUMN `debut_date` DATE NULL DEFAULT NULL AFTER `birth_date`,
ADD COLUMN `finalgame_date` DATE NULL DEFAULT NULL AFTER `debut_date`,
ADD COLUMN `death_date` DATE NULL DEFAULT NULL AFTER `finalgame_date`;

update people_fixed
set birth_date = timestamp(concat_ws("-", birthYear, birthMonth, birthDay))
where birthYear is not null and birthMonth is not null and birthDay is not null;

update people_fixed
set death_date = timestamp(concat_ws("-", deathYear, deathMonth, deathDay))
where deathYear is not null and deathMonth is not null and deathDay is not null;

update people_fixed
set debut_date = timestamp(debut)
where debut is not null;

update people_fixed
set finalgame_date = timestamp(finalGame)
where finalGame is not null;

UPDATE people_fixed SET birthCountry = CASE
    WHEN birthCountry = "At Sea" THEN "Not applicable value."
    WHEN birthCountry = "Bahamas" THEN "Bahamas The"
    WHEN birthCountry = "CAN" THEN "Canada"
    WHEN birthCountry = "Curacao" THEN "Netherlands Antilles"
    WHEN birthCountry = "D.R." THEN "Dominican Republic"
    WHEN birthCountry = "Hong Kong" THEN "Hong Kong S.A.R."
    WHEN birthCountry = "Netherlands" THEN "Netherlands The"
    WHEN birthCountry = "North Korea" THEN "Korea North"
    WHEN birthCountry = "P.R." THEN "Puerto Rico"
    WHEN birthCountry = "South Korea" THEN "Korea South"
    WHEN birthCountry = "USA" THEN "United States"
    WHEN birthCountry = "V.I." THEN "Virgin Islands (US)"
    WHEN birthCountry = "Viet Nam" THEN "Vietnam"
    ELSE birthCountry
END;

UPDATE people_fixed SET deathCountry = CASE
    WHEN deathCountry = "At Sea" THEN "Not applicable value."
    WHEN deathCountry = "Bahamas" THEN "Bahamas The"
    WHEN deathCountry = "CAN" THEN "Canada"
    WHEN deathCountry = "Curacao" THEN "Netherlands Antilles"
    WHEN deathCountry = "D.R." THEN "Dominican Republic"
    WHEN deathCountry = "Hong Kong" THEN "Hong Kong S.A.R."
    WHEN deathCountry = "Netherlands" THEN "Netherlands The"
    WHEN deathCountry = "North Korea" THEN "Korea North"
    WHEN deathCountry = "P.R." THEN "Puerto Rico"
    WHEN deathCountry = "South Korea" THEN "Korea South"
    WHEN deathCountry = "USA" THEN "United States"
    WHEN deathCountry = "V.I." THEN "Virgin Islands (US)"
    WHEN deathCountry = "Viet Nam" THEN "Vietnam"
    ELSE deathCountry
END;

ALTER TABLE `lahman2019`.`people_fixed` 
ADD COLUMN `birthCountry_code` CHAR(2) NULL DEFAULT NULL AFTER `birthCountry`,
ADD COLUMN `deathCountry_code` CHAR(2) NULL DEFAULT NULL AFTER `deathCountry`;

update people_fixed
set birthCountry_code = (select iso2 from countries where `name` is not null and `name` = birthCountry);

update people_fixed
set deathCountry_code = (select iso2 from countries where `name` is not null and `name` = deathCountry);

ALTER TABLE `lahman2019`.`people_fixed` 
DROP COLUMN `deathCountry`,
DROP COLUMN `birthCountry`;

ALTER TABLE `lahman2019`.`countries` 
CHANGE COLUMN `id` `id` MEDIUMINT UNSIGNED NOT NULL ,
CHANGE COLUMN `iso2` `iso2` CHAR(2) NOT NULL ,
DROP PRIMARY KEY,
ADD PRIMARY KEY (`iso2`);

ALTER TABLE `lahman2019`.`people_fixed` 
ADD INDEX `birthCountry_idx` (`birthCountry_code` ASC) VISIBLE,
ADD INDEX `deathCountry_idx` (`deathCountry_code` ASC) VISIBLE;

ALTER TABLE `lahman2019`.`people_fixed` 
ADD CONSTRAINT `birthCountry`
  FOREIGN KEY (`birthCountry_code`)
  REFERENCES `lahman2019`.`countries` (`iso2`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION,
ADD CONSTRAINT `deathCountry`
  FOREIGN KEY (`deathCountry_code`)
  REFERENCES `lahman2019`.`countries` (`iso2`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;
~~~~

In [30]:
%sql select * from people_fixed limit 10;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
10 rows affected.

[('aardsda01', 1981, 12, 27, 'US', 'CO', 'Denver', None, None, None, None, None, None, 'David', 'Aardsma', 'David Allan', 215, 75, 'R', 'R', '2004-04-06', '2015-08-23', 'aardd001', 'aardsda01', datetime.date(1981, 12, 27), datetime.date(2004, 4, 6), datetime.date(2015, 8, 23), None),
 ('aaronha01', 1934, 2, 5, 'US', 'AL', 'Mobile', None, None, None, None, None, None, 'Hank', 'Aaron', 'Henry Louis', 180, 72, 'R', 'R', '1954-04-13', '1976-10-03', 'aaroh101', 'aaronha01', datetime.date(1934, 2, 5), datetime.date(1954, 4, 13), datetime.date(1976, 10, 3), None),
 ('aaronto01', 1939, 8, 5, 'US', 'AL', 'Mobile', 1984, 8, 16, 'US', 'GA', 'Atlanta', 'Tommie', 'Aaron', 'Tommie Lee', 190, 75, 'R', 'R', '1962-04-10', '1971-09-26', 'aarot101', 'aaronto01', datetime.date(1939, 8, 5), datetime.date(1962, 4, 10), datetime.date(1971, 9, 26), datetime.date(1984, 8, 16)),
 ('aasedo01', 1954, 9, 8, 'US', 'CA', 'Orange', None, None, None, None, None, None, 'Don', 'Aase', 'Donald William', 190, 75, 'R', 'R', '1977-07-26', '1990-10-03', 'aased001', 'aasedo01', datetime.date(1954, 9, 8), datetime.date(1977, 7, 26), datetime.date(1990, 10, 3), None),
 ('abadan01', 1972, 8, 25, 'US', 'FL', 'Palm Beach', None, None, None, None, None, None, 'Andy', 'Abad', 'Fausto Andres', 184, 73, 'L', 'L', '2001-09-10', '2006-04-13', 'abada001', 'abadan01', datetime.date(1972, 8, 25), datetime.date(2001, 9, 10), datetime.date(2006, 4, 13), None),
 ('abadfe01', 1985, 12, 17, 'DO', 'La Romana', 'La Romana', None, None, None, None, None, None, 'Fernando', 'Abad', 'Fernando Antonio', 235, 74, 'L', 'L', '2010-07-28', '2019-09-28', 'abadf001', 'abadfe01', datetime.date(1985, 12, 17), datetime.date(2010, 7, 28), datetime.date(2019, 9, 28), None),
 ('abadijo01', 1850, 11, 4, 'US', 'PA', 'Philadelphia', 1905, 5, 17, 'US', 'NJ', 'Pemberton', 'John', 'Abadie', 'John W.', 192, 72, 'R', 'R', '1875-04-26', '1875-06-10', 'abadj101', 'abadijo01', datetime.date(1850, 11, 4), datetime.date(1875, 4, 26), datetime.date(1875, 6, 10), datetime.date(1905, 5, 17)),
 ('abbated01', 1877, 4, 15, 'US', 'PA', 'Latrobe', 1957, 1, 6, 'US', 'FL', 'Fort Lauderdale', 'Ed', 'Abbaticchio', 'Edward James', 170, 71, 'R', 'R', '1897-09-04', '1910-09-15', 'abbae101', 'abbated01', datetime.date(1877, 4, 15), datetime.date(1897, 9, 4), datetime.date(1910, 9, 15), datetime.date(1957, 1, 6)),
 ('abbeybe01', 1869, 11, 11, 'US', 'VT', 'Essex', 1962, 6, 11, 'US', 'VT', 'Colchester', 'Bert', 'Abbey', 'Bert Wood', 175, 71, 'R', 'R', '1892-06-14', '1896-09-23', 'abbeb101', 'abbeybe01', datetime.date(1869, 11, 11), datetime.date(1892, 6, 14), datetime.date(1896, 9, 23), datetime.date(1962, 6, 11)),
 ('abbeych01', 1866, 10, 14, 'US', 'NE', 'Falls City', 1926, 4, 27, 'US', 'CA', 'San Francisco', 'Charlie', 'Abbey', 'Charles S.', 169, 68, 'L', 'L', '1893-08-16', '1897-08-19', 'abbec101', 'abbeych01', datetime.date(1866, 10, 14), datetime.date(1893, 8, 16), datetime.date(1897, 8, 19), datetime.date(1926, 4, 27))]

# Question 6 $-$ More Data Modeling

- A ```person``` has
    - A ```first_name, last_name, integer ID, email.```
    - A phone number is of the form ```country_code, number.```
    - The ```country_code``` must be valid based on the ```countries``` table.


- A ```person``` may have several related telephone numbers, and a given telephone number may be associated with multiple people. The possible relationships are:
    - ```Home```
    - ```Work```
    - ```Mobile```
    
    
- A ```person``` may have at most one phone number for each type of relationship.


- For this question:
    - Define and create the tables that implement the model and enforce constraints.
    - Write SQL INSERT statements that show correctly creating two people, each of which has an associated phone number of each type. You can make up phone numbers.
    - Write 3 SQL INSERT statement that demonstrates three different integrity constraints that your schema enforces.

_Answer_

#### create table statements:
~~~~sql
CREATE TABLE `lahman2019`.`person` (
  `person_id` INT NOT NULL AUTO_INCREMENT,
  `first_name` VARCHAR(255) NULL DEFAULT NULL,
  `last_name` VARCHAR(255) NULL DEFAULT NULL,
  `email` VARCHAR(255) NULL DEFAULT NULL,
  PRIMARY KEY (`person_id`));
  
CREATE TABLE `lahman2019`.`phone_number` (
  `phone_id` INT NOT NULL AUTO_INCREMENT,
  `country_code` VARCHAR(32) NOT NULL,
  `number` VARCHAR(32) NOT NULL,
  PRIMARY KEY (`phone_id`));

CREATE TABLE `lahman2019`.`person_phone_number_mapping` (
  `mapping_id` INT NOT NULL AUTO_INCREMENT,
  `person_id` INT NOT NULL,
  `phone_id` INT NOT NULL,
  `type` ENUM("Home", "Work", "Mobile") NOT NULL,
  INDEX `person_mapping_idx` (`person_id` ASC) VISIBLE,
  INDEX `phone_number_mapping_idx` (`phone_id` ASC) VISIBLE,
  PRIMARY KEY (`mapping_id`),
  CONSTRAINT `person_mapping`
    FOREIGN KEY (`person_id`)
    REFERENCES `lahman2019`.`person` (`person_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `phone_number_mapping`
    FOREIGN KEY (`phone_id`)
    REFERENCES `lahman2019`.`phone_number` (`phone_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION);
~~~~

<hr style="height:2px;">

#### Other SQL statements I used:

~~~~sql
DROP TRIGGER IF EXISTS `lahman2019`.`phone_number_BEFORE_INSERT`;
DELIMITER $$
USE `lahman2019`$$
CREATE DEFINER = `dbuser`@`localhost` TRIGGER `lahman2019`.`phone_number_BEFORE_INSERT` BEFORE INSERT ON `phone_number` FOR EACH ROW
BEGIN
	if new.country_code not in (select phonecode from countries) then
		signal sqlstate '50001'
        set message_text = "Invalid country code";
	end if;
END$$
DELIMITER ;

DROP TRIGGER IF EXISTS `lahman2019`.`phone_number_BEFORE_UPDATE`;
DELIMITER $$
USE `lahman2019`$$
CREATE DEFINER = `dbuser`@`localhost` TRIGGER `lahman2019`.`phone_number_BEFORE_UPDATE` BEFORE UPDATE ON `phone_number` FOR EACH ROW
BEGIN
	if new.country_code not in (select phonecode from countries) then
		signal sqlstate '50001'
        set message_text = "Invalid country code";
	end if;
END$$
DELIMITER ;

DROP TRIGGER IF EXISTS `lahman2019`.`person_phone_number_mapping_BEFORE_INSERT`;
DELIMITER $$
USE `lahman2019`$$
CREATE DEFINER = `dbuser`@`localhost` TRIGGER `lahman2019`.`person_phone_number_mapping_BEFORE_INSERT` BEFORE INSERT ON `person_phone_number_mapping` FOR EACH ROW
BEGIN
	if new.person_id in (select person_id from person_phone_number_mapping 
		where person_id = new.person_id and `type` = new.`type`) then
        signal sqlstate '50001'
        set message_text = "Multiple phone numbers for one type of relationship";
	end if;
END$$
DELIMITER ;

DROP TRIGGER IF EXISTS `lahman2019`.`person_phone_number_mapping_BEFORE_UPDATE`;
DELIMITER $$
USE `lahman2019`$$
CREATE DEFINER = CURRENT_USER TRIGGER `lahman2019`.`person_phone_number_mapping_BEFORE_UPDATE` BEFORE UPDATE ON `person_phone_number_mapping` FOR EACH ROW
BEGIN
	if new.`type` != old.`type` and new.person_id in (select person_id from person_phone_number_mapping 
        where person_id = new.person_id and `type` = new.`type`) then
        signal sqlstate '50001'
        set message_text = "Multiple phone numbers for one type of relationship";
	end if;
END$$
DELIMITER ;
~~~~

#### Create first people and associated phone numbers of each type:

~~~~sql
insert into person values (1, "haoran", "zhu", "hz3fr@virginia.edu");
insert into phone_number values (1, "1", "123456789");
insert into phone_number values (2, "1", "234567891");  
insert into phone_number values (3, "1", "345678912");
insert into person_phone_number_mapping values (1, 1, 1, "Home");
insert into person_phone_number_mapping values (2, 1, 2, "Work");
insert into person_phone_number_mapping values (3, 1, 3, "Mobile");
~~~~

#### Create second people and associated phone numbers of each type:
~~~~sql
insert into person values (2, "henry", "zhu", "hz2712@columbia.edu");
insert into phone_number values (4, "1", "456789123");
insert into phone_number values (5, "1", "567891234");   
insert into phone_number values (6, "1", "678912345");
insert into person_phone_number_mapping values (4, 2, 4, "Home");
insert into person_phone_number_mapping values (5, 2, 5, "Work");
insert into person_phone_number_mapping values (6, 2, 6, "Mobile");
~~~~

#### Integrity constraint #1: ```country_code``` in ```phone``` must exist in ```countries``` 
Below SQL statement should result in error with message : "Invalid country code"

In [3]:
%sql insert into phone_number values (7, "xxxxx", "4344662282");

 * mysql+pymysql://dbuser:***@localhost/db_book_new
(pymysql.err.OperationalError) (1644, 'Invalid country code')
[SQL: insert into phone_number values (7, "xxxxx" , "4344662282" );]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

#### Integrity constraint #2: a ```person``` may have at most one ```phone_number``` for each type of relationship.
Below SQL statements should result in error with message: "Multiple phone numbers for one type of relationship"

In [6]:
%sql insert into phone_number values (7, "1", "4344662282");
%sql insert into person_phone_number_mapping values (7, 1, 7, "Home");

 * mysql+pymysql://dbuser:***@localhost/db_book_new
1 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
(pymysql.err.OperationalError) (1644, 'Multiple phone numbers for one type of relationship')
[SQL: insert into person_phone_number_mapping values (7, 1, 7, "Home" );]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

#### Integrity constraint #3: foreign key constrant
Below SQL statements should result in error with message indicating that a foreign key constraint failed because currently there are only two rows in ```person``` with ```person_id``` of 1 and 2. However, the ```person_id``` input in below INSERT statement is 3, which does not exist in ```person```.

In [7]:
%sql insert into person_phone_number_mapping values (7, 3, 7, "Home");

 * mysql+pymysql://dbuser:***@localhost/db_book_new

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`lahman2019`.`person_phone_number_mapping`, CONSTRAINT `person_mapping` FOREIGN KEY (`person_id`) REFERENCES `person` (`person_id`))')
[SQL: insert into person_phone_number_mapping values (7, 3, 7, "Home" );]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

References:
1. https://en.wikipedia.org/wiki/Associative_entity#:~:text=An%20associative%20entity%20is%20a,%2C%20informally%2C%20an%20associative%20table.
2. https://medium.com/@BryanFajardo/how-to-use-associative-entities-in-relational-databases-4456a2c71cda

# Question 7 $-$ SQL

## Question 7.1

Use the Lahman Baseball Database. These are some facts:
- A person was a _manager_ if their ```playerid``` occurs in the ```managers``` table.
- A person was a _player_ in Major League Baseball if their ```playerid``` appears in the ```appearances``` table.
- A person is in the Hall of Fame if their ```playerid``` appears in the ```halloffame``` table and there is a row with ```inducted = "Y"```

Produce the following table, which contains people in ```people```
- Who were neither a manager or a player.
- And information about being in the Hall of Fame if they are in the Hall of Fame, or NULL values otherwise.

_Answer_

In [36]:
%%sql
select playerID, nameLast, nameFirst, category, yearID as yearid, inducted from 
(
	select playerID, nameLast, nameFirst, m_yID, yearID as a_yID from 
	(
		(
			select playerID, nameLast, nameFirst, yearID as m_yID from People left join Managers using (playerID)
		) as a
		left join Appearances using (playerID)
    ) where m_yID is null and yearID is null
) as b
left join HallOfFame using (playerID)

 * mysql+pymysql://dbuser:***@localhost/db_book_new
273 rows affected.

[('chadwhe99', 'Chadwick', 'Henry', 'Pioneer/Executive', '1938', 'Y'),
 ('cartwal99', 'Cartwright', 'Alexander', 'Pioneer/Executive', '1938', 'Y'),
 ('bulkemo99', 'Bulkeley', 'Morgan', 'Pioneer/Executive', '1937', 'Y'),
 ('klembi99', 'Klem', 'Bill', 'Umpire', '1953', 'Y'),
 ('johnsba99', 'Johnson', 'Ban', 'Pioneer/Executive', '1937', 'Y'),
 ('landike99', 'Landis', 'Kenesaw', 'Pioneer/Executive', '1944', 'Y'),
 ('connoto99', 'Connolly', 'Tommy', 'Umpire', '1953', 'Y'),
 ('bielabr01', 'Bielak', 'Brandon', None, None, None),
 ('misiean01', 'Misiewicz', 'Anthony', None, None, None),
 ('romerjo01', 'Romero', 'JoJo', None, None, None),
 ('paytoma01', 'Payton', 'Mark', None, None, None),
 ('cleavga01', 'Cleavinger', 'Garrett', None, None, None),
 ('merryju01', 'Merryweather', 'Julian', None, None, None),
 ('florebe01', 'Flores', 'Bernardo', None, None, None),
 ('mathiwy01', 'Mathisen', 'Wyatt', None, None, None),
 ('mejiahu01', 'Mejia', 'Humberto', None, None, None),
 ('omallwa99', "O'Malley", 'Walter', 'Pioneer/Executive', '2008', 'Y'),
 ('steartu99', 'Stearnes', 'Turkey', 'Player', '2000', 'Y'),
 ('zimmebr02', 'Zimmermann', 'Bruce', None, None, None),
 ('crowewi01', 'Crowe', 'Wil', None, None, None),
 ('dandrra99', 'Dandridge', 'Ray', 'Player', '1987', 'Y'),
 ('funkhky01', 'Funkhouser', 'Kyle', None, None, None),
 ('olivaja01', 'Oliva', 'Jared', None, None, None),
 ('diazle01', 'Diaz', 'Lewin', None, None, None),
 ('frickfo99', 'Frick', 'Ford', 'Pioneer/Executive', '1970', 'Y'),
 ('suttlmu99', 'Suttles', 'Mule', 'Player', '2006', 'Y'),
 ('ruperja99', 'Ruppert', 'Jacob', 'Pioneer/Executive', '2013', 'Y'),
 ('garcíjo02', 'García', 'José', None, None, None),
 ('garciro03', 'Garcia', 'Rony', None, None, None),
 ('kriskbr01', 'Kriske', 'Brooks', None, None, None),
 ('mujicjo01', 'Mujica', 'Jose', None, None, None),
 ('bailebr01', 'Bailey', 'Brandon', None, None, None),
 ('espinsa01', 'Espinal', 'Santiago', None, None, None),
 ('brogdco01', 'Brogdon', 'Connor', None, None, None),
 ('feyerjo01', 'Feyereisen', 'J. P.', None, None, None),
 ('abreual01', 'Abreu', 'Albert', None, None, None),
 ('varshda01', 'Varsho', 'Daulton', None, None, None),
 ('whitlko01', 'Whitley', 'Kodi', None, None, None),
 ('garcilu04', 'Garcia', 'Luis', None, None, None),
 ('thompry02', 'Thompson', 'Ryan', None, None, None),
 ('basablu01', 'Basabe', 'Luis Alexander', None, None, None),
 ('bubickr01', 'Bubic', 'Kris', None, None, None),
 ('charlos99', 'Charleston', 'Oscar', 'Player', '1976', 'Y'),
 ('sanabca01', 'Sanabria', 'Carlos', None, None, None),
 ('poseycu99', 'Posey', 'Cum', 'Pioneer/Executive', '2006', 'Y'),
 ('harrimo01', 'Harrison', 'Monte', None, None, None),
 ('topaju01', 'Topa', 'Justin', None, None, None),
 ('sanchje02', 'Sanchez', 'Jesus', None, None, None),
 ('quezajo01', 'Quezada', 'Johan', None, None, None),
 ('ramirro02', 'Ramirez', 'Roel', None, None, None),
 ('sanchri01', 'Sanchez', 'Ricardo', None, None, None),
 ('apostsh01', 'Apostel', 'Sherten', None, None, None),
 ('hillca02', 'Hill', 'Cam', None, None, None),
 ('kingjo01', 'King', 'John', None, None, None),
 ('castada01', 'Castano', 'Daniel', None, None, None),
 ('gileswa99', 'Giles', 'Warren', 'Pioneer/Executive', '1979', 'Y'),
 ('hayeske01', 'Hayes', "Ke'Bryan", None, None, None),
 ('manleef99', 'Manley', 'Effa', 'Pioneer/Executive', '2006', 'Y'),
 ('scruban01', 'Scrubb', 'Andre', None, None, None),
 ('arauzjo01', 'Arauz', 'Jonathan', None, None, None),
 ('braymbe01', 'Braymer', 'Ben', None, None, None),
 ('chishja01', 'Chisholm', 'Jazz', None, None, None),
 ('coopean99', 'Cooper', 'Andy', 'Player', '2006', 'Y'),
 ('gibsojo99', 'Gibson', 'Josh', 'Player', '1972', 'Y'),
 ('stephty01', 'Stephenson', 'Tyler', None, None, None),
 ('willijo99', 'Williams', 'Smokey Joe', 'Player', '1999', 'Y'),
 ('gillipa99', 'Gillick', 'Pat', 'Pioneer/Executive', '2011', 'Y'),
 ('kirkal01', 'Kirk', 'Alejandro', None, None, None),
 ('kuhnbo99', 'Kuhn', 'Bowie', 'Pioneer/Executive', '2008', 'Y'),
 ('fletcaa01', 'Fletcher', 'Aaron', None, None, None),
 ('schurjo99', 'Schuerholz', 'John', 'Pioneer/Executive', '2017', 'Y'),
 ('leyerro01', 'Leyer', 'Robinson', None, None, None),
 ('gimenan01', 'Gimenez', 'Andres', None, None, None),
 ('codyky01', 'Cody', 'Kyle', None, None, None),
 ('evansde01', 'Evans', 'Demarcus', None, None, None),
 ('baragca01', 'Baragar', 'Caleb', None, None, None),
 ('benjawe01', 'Benjamin', 'Wes', None, None, None),
 ('taylobl01', 'Taylor', 'Blake', None, None, None),
 ('wellswi99', 'Wells', 'Willie', 'Player', '1997', 'Y'),
 ('dihigma99', 'Dihigo', 'Martin', 'Player', '1977', 'Y'),
 ('mccarjo04', 'McCarthy', 'Joe', None, None, None),
 ('navarbr01', 'Navarreto', 'Brian', None, None, None),
 ('stievjo01', 'Stiever', 'Jonathan', None, None, None),
 ('elledse01', 'Elledge', 'Seth', None, None, None),
 ('roberlu01', 'Robert', 'Luis', None, None, None),
 ('sanchsi01', 'Sanchez', 'Sixto', None, None, None),
 ('alcanse01', 'Alcantara', 'Sergio', None, None, None),
 ('millety01', 'Miller', 'Tyson', None, None, None),
 ('peterda01', 'Peterson', 'David', None, None, None),
 ('santolo99', 'Santop', 'Louis', 'Player', '2006', 'Y'),
 ('macphla99', 'MacPhail', 'Larry', 'Pioneer/Executive', '1978', 'Y'),
 ('mountry01', 'Mountcastle', 'Ryan', None, None, None),
 ('oviedjo01', 'Oviedo', 'Johan', None, None, None),
 ('bickfph01', 'Bickford', 'Phil', None, None, None),
 ('contrwi02', 'Contreras', 'William', None, None, None),
 ('grantfr99', 'Grant', 'Frank', 'Player', '2006', 'Y'),
 ('mendejo99', 'Mendéz', 'José', 'Player', '2006', 'Y'),
 ('smithhi99', 'Smith', 'Hilton', 'Player', '2001', 'Y'),
 ('gerbejo01', 'Gerber', 'Joey', None, None, None),
 ('lambeji01', 'Lambert', 'Jimmy', None, None, None),
 ('rossora01', 'Rosso', 'Ramon', None, None, None),
 ('weigepa01', 'Weigel', 'Patrick', None, None, None),
 ('crochga01', 'Crochet', 'Garrett', None, None, None),
 ('kaminro01', 'Kaminsky', 'Rob', None, None, None),
 ('kremede01', 'Kremer', 'Dean', None, None, None),
 ('mearsni01', 'Mears', 'Nick', None, None, None),
 ('beaslje01', 'Beasley', 'Jeremy', None, None, None),
 ('macphle99', 'MacPhail', 'Lee', 'Pioneer/Executive', '1998', 'Y'),
 ('moniami01', 'Moniak', 'Mickey', None, None, None),
 ('perezhe02', 'Perez', 'Hector', None, None, None),
 ('castehu01', 'Castellanos', 'Humberto', None, None, None),
 ('harvedo99', 'Harvey', 'Doug', 'Umpire', '2010', 'Y'),
 ('johnsju99', 'Johnson', 'Judy', 'Player', '1975', 'Y'),
 ('patinlu01', 'Patino', 'Luis', None, None, None),
 ('perdoan01', 'Perdomo', 'Angel', None, None, None),
 ('widenta01', 'Widener', 'Taylor', None, None, None),
 ('hillde01', 'Hill', 'Derek', None, None, None),
 ('olivaed02', 'Olivares', 'Edward', None, None, None),
 ('pachecr01', 'Pache', 'Cristian', None, None, None),
 ('castery01', 'Castellani', 'Ryan', None, None, None),
 ('rookebr01', 'Rooker', 'Brent', None, None, None),
 ('santoan02', 'Santos', 'Antonio', None, None, None),
 ('bohmal01', 'Bohm', 'Alec', None, None, None),
 ('whiteel04', 'White', 'Eli', None, None, None),
 ('tejedan01', 'Tejeda', 'Anderson', None, None, None),
 ('hartky01', 'Hart', 'Kyle', None, None, None),
 ('hernaca04', 'Hernandez', 'Carlos', None, None, None),
 ('mathima01', 'Mathias', 'Mark', None, None, None),
 ('sanchal04', 'Sanchez', 'Ali', None, None, None),
 ('bartjo01', 'Bart', 'Joey', None, None, None),
 ('newsolj01', 'Newsome', 'Ljay', None, None, None),
 ('rasmudr01', 'Rasmussen', 'Drew', None, None, None),
 ('torricr99', 'Torriente', 'Cristóbal', 'Player', '2006', 'Y'),
 ('hemonro99', 'Hemond', 'Roland', None, None, None),
 ('mackebi99', 'Mackey', 'Biz', 'Player', '2006', 'Y'),
 ('hernáya01', 'Hernández', 'Yadiel', None, None, None),
 ('johnsda07', 'Johnson', 'Daniel', None, None, None),
 ('tapiado01', 'Tapia', 'Domingo', None, None, None),
 ('brubajt01', 'Brubaker', 'JT', None, None, None),
 ('davidtu01', 'Davidson', 'Tucker', None, None, None),
 ('lloydpo99', 'Lloyd', 'Pop', 'Player', '1977', 'Y'),
 ('blanktr01', 'Blankenhorn', 'Travis', None, None, None),
 ('cederbl01', 'Cederlind', 'Blake', None, None, None),
 ('neideni01', 'Neidert', 'Nick', None, None, None),
 ('adelljo01', 'Adell', 'Jo', None, None, None),
 ('flemijo01', 'Fleming', 'Josh', None, None, None),
 ('oñajo01', 'Oña', 'Jorge', None, None, None),
 ('skubata01', 'Skubal', 'Tarik', None, None, None),
 ('taylobe99', 'Taylor', 'Ben', 'Player', '2006', 'Y'),
 ('flories01', 'Florial', 'Estevan', None, None, None),
 ('marchra01', 'Marchan', 'Rafael', None, None, None),
 ('ramiryo01', 'Ramirez', 'Yohan', None, None, None),
 ('sharpst01', 'Sharp', 'Sterling', None, None, None),
 ('cruzje01', 'Cruz', 'Jesus', None, None, None),
 ('mizeca01', 'Mize', 'Casey', None, None, None),
 ('rodrini01', 'Rodriguez', 'Nivaldo', None, None, None),
 ('burdiza01', 'Burdi', 'Zack', None, None, None),
 ('carlsdy01', 'Carlson', 'Dylan', None, None, None),
 ('chandha99', 'Chandler', 'Happy', 'Pioneer/Executive', '1982', 'Y'),
 ('kigerma01', 'Kiger', 'Mark', None, None, None),
 ('taverle01', 'Taveras', 'Leody', None, None, None),
 ('waddebr01', 'Waddell', 'Brandon', None, None, None),
 ('fostema01', 'Foster', 'Matt', None, None, None),
 ('jeffery01', 'Jeffers', 'Ryan', None, None, None),
 ('roganbu99', 'Rogan', 'Bullet', 'Player', '1998', 'Y'),
 ('yawketo99', 'Yawkey', 'Tom', 'Pioneer/Executive', '1980', 'Y'),
 ('dunnida01', 'Dunning', 'Dane', None, None, None),
 ('goudeas01', 'Goudeau', 'Ashton', None, None, None),
 ('tsutsyo01', 'Tsutsugo', 'Yoshi', None, None, None),
 ('whitemi03', 'White', 'Mitch', None, None, None),
 ('bellco99', 'Bell', 'Cool Papa', 'Player', '1974', 'Y'),
 ('singebr01', 'Singer', 'Brady', None, None, None),
 ('trompch01', 'Tromp', 'Chadwick', None, None, None),
 ('garcilu05', 'Garcia', 'Luis', None, None, None),
 ('ponceco01', 'Ponce', 'Cody', None, None, None),
 ('sotoel01', 'Soto', 'Elliot', None, None, None),
 ('akiyash01', 'Akiyama', 'Shogo', None, None, None),
 ('garrebr01', 'Garrett', 'Braxton', None, None, None),
 ('rogertr01', 'Rogers', 'Trevor', None, None, None),
 ('seligbu99', 'Selig', 'Bud', 'Pioneer/Executive', '2017', 'Y'),
 ('jonesja08', 'Jones', 'Jahmai', None, None, None),
 ('kimkw01', 'Kim', 'Kwang Hyun', None, None, None),
 ('doyleto01', 'Doyle', 'Tommy', None, None, None),
 ('jimenda02', 'Jimenez', 'Dany', None, None, None),
 ('nogowjo01', 'Nogowski', 'John', None, None, None),
 ('crismna01', 'Crismatt', 'Nabil', None, None, None),
 ('dayle99', 'Day', 'Leon', 'Player', '1995', 'Y'),
 ('heuerco01', 'Heuer', 'Codi', None, None, None),
 ('castran02', 'Castro', 'Anthony', None, None, None),
 ('croneja01', 'Cronenworth', 'Jake', None, None, None),
 ('heimjo01', 'Heim', 'Jonah', None, None, None),
 ('leonabu99', 'Leonard', 'Buck', 'Player', '1972', 'Y'),
 ('camerda01', 'Cameron', 'Daz', None, None, None),
 ('hillpe99', 'Hill', 'Pete', 'Player', '2006', 'Y'),
 ('mcgowbi99', 'McGowan', 'Bill', 'Umpire', '1992', 'Y'),
 ('garcide01', 'Garcia', 'Deivi', None, None, None),
 ('chylane99', 'Chylak', 'Nestor', 'Umpire', '1999', 'Y'),
 ('colined01', 'Colina', 'Edwar', None, None, None),
 ('dreyfba99', 'Dreyfuss', 'Barney', 'Pioneer/Executive', '2008', 'Y'),
 ('gonzalu03', 'Gonzalez', 'Luis', None, None, None),
 ('grifffo01', 'Griffin', 'Foster', None, None, None),
 ('hulbewi99', 'Hulbert', 'William', 'Pioneer/Executive', '1995', 'Y'),
 ('antonte01', 'Antone', 'Tejay', None, None, None),
 ('barlial99', 'Barlick', 'Al', 'Umpire', '1989', 'Y'),
 ('pareden01', 'Paredes', 'Enoli', None, None, None),
 ('ruizke01', 'Ruiz', 'Keibert', None, None, None),
 ('schmicl01', 'Schmidt', 'Clarke', None, None, None),
 ('harriwi99', 'Harridge', 'Will', 'Pioneer/Executive', '1972', 'Y'),
 ('javiecr01', 'Javier', 'Cristian', None, None, None),
 ('woodfja01', 'Woodford', 'Jake', None, None, None),
 ('alvared01', 'Alvarez', 'Eddy', None, None, None),
 ('guzmajo04', 'Guzman', 'Jorge', None, None, None),
 ('smithpa04', 'Smith', 'Pavin', None, None, None),
 ('vesiaal01', 'Vesia', 'Alex', None, None, None),
 ('campulu01', 'Campusano', 'Luis', None, None, None),
 ('craigwi01', 'Craig', 'Will', None, None, None),
 ('yamagsh01', 'Yamaguchi', 'Shun', None, None, None),
 ('akinke01', 'Akin', 'Keegan', None, None, None),
 ('kilomfr01', 'Kilome', 'Franklyn', None, None, None),
 ('leibrbr01', 'Leibrandt', 'Brandon', None, None, None),
 ('jonesta01', 'Jones', 'Taylor', None, None, None),
 ('llovema01', 'Llovera', 'Mauricio', None, None, None),
 ('merceye01', 'Mercedes', 'Yermin', None, None, None),
 ('uriasra01', 'Urias', 'Ramon', None, None, None),
 ('dalbebo01', 'Dalbec', 'Bobby', None, None, None),
 ('hubbaca99', 'Hubbard', 'Cal', 'Umpire', '1976', 'Y'),
 ('odomjo01', 'Odom', 'Joseph', None, None, None),
 ('hatchto01', 'Hatch', 'Tom', None, None, None),
 ('evansbi99', 'Evans', 'Billy', 'Umpire', '1973', 'Y'),
 ('hollojo01', 'Holloway', 'Jordan', None, None, None),
 ('jeffeda01', 'Jefferies', 'Daulton', None, None, None),
 ('marmojo01', 'Marmolejos', 'Jose', None, None, None),
 ('whiteev01', 'White', 'Evan', None, None, None),
 ('blewesc01', 'Blewett', 'Scott', None, None, None),
 ('gonzavi02', 'Gonzalez', 'Victor', None, None, None),
 ('houckta01', 'Houck', 'Tanner', None, None, None),
 ('romerse01', 'Romero', 'Seth', None, None, None),
 ('mckinza01', 'McKinstry', 'Zach', None, None, None),
 ('nelsoky01', 'Nelson', 'Kyle', None, None, None),
 ('youngan02', 'Young', 'Andy', None, None, None),
 ('machivi01', 'Machin', 'Vimael', None, None, None),
 ('wilkijl99', 'Wilkinson', 'J. L.', 'Pioneer/Executive', '2006', 'Y'),
 ('paredis01', 'Paredes', 'Isaac', None, None, None),
 ('wilsoju99', 'Wilson', 'Jud', 'Player', '2006', 'Y'),
 ('yajurmi01', 'Yajure', 'Miguel', None, None, None),
 ('huffsa01', 'Huff', 'Sam', None, None, None),
 ('fosteru99', 'Foster', 'Rube', 'Manager', '1981', 'Y'),
 ('madrini01', 'Madrigal', 'Nick', None, None, None),
 ('pompeal99', 'Pompez', 'Alex', 'Pioneer/Executive', '2006', 'Y'),
 ('weissge99', 'Weiss', 'George', 'Pioneer/Executive', '1971', 'Y'),
 ('whiteaa01', 'Whitefield', 'Aaron', None, None, None),
 ('howarsp01', 'Howard', 'Spencer', None, None, None),
 ('whiteso99', 'White', 'Sol', 'Pioneer/Executive', '2006', 'Y'),
 ('fostebi99', 'Foster', 'Bill', 'Player', '1996', 'Y'),
 ('bacusda01', 'Bacus', 'Dakota', None, None, None),
 ('marqubr01', 'Marquez', 'Brailyn', None, None, None),
 ('finneky01', 'Finnegan', 'Kyle', None, None, None),
 ('veeckbi99', 'Veeck', 'Bill', 'Pioneer/Executive', '1991', 'Y'),
 ('mckentr01', 'McKenzie', 'Triston', None, None, None),
 ('schroma01', 'Schrock', 'Max', None, None, None),
 ('anderia01', 'Anderson', 'Ian', None, None, None),
 ('pearsna01', 'Pearson', 'Nate', None, None, None),
 ('smithri01', 'Smith', 'Riley', None, None, None),
 ('heathni01', 'Heath', 'Nick', None, None, None),
 ('brownra99', 'Brown', 'Ray', 'Player', '2006', 'Y'),
 ('burrobe01', 'Burrows', 'Beau', None, None, None),
 ('murphpa02', 'Murphy', 'Patrick', None, None, None),
 ('kaprija01', 'Kaprielian', 'James', None, None, None),
 ('medinad01', 'Medina', 'Adonis', None, None, None),
 ('nelsoni01', 'Nelson', 'Nick', None, None, None),
 ('weemsjo01', 'Weems', 'Jordan', None, None, None),
 ('zuberty01', 'Zuber', 'Tyler', None, None, None),
 ('mateojo01', 'Mateo', 'Jorge', None, None, None)]

## Question 7.2

- The ```appearances``` table identifies players and the teams they played for.


- The team ID for the Boston Red Sox is ```BOS```


- The team ID for the New York Yankees is ```NYA```


- The greatest traitors of the current decade are players who:
    - Played for both ```BOS``` and ```NYA``` during or after the year 2010.
    - Played for ```NYA``` after playing for ```BOS```
    
    
- Create a view ```scoundrels``` with the following columns:
    - ```playerid```
    - ```traitor_last_name```
    - ```traitor_first_name```
    - ```good_guys``` is ```BOS```
    - ```first_bos_year``` is the first year in the period when they played for ```BOS```
    - ```bad_guys``` is ```NYA```
    - ```first_nya_year``` is the first year during the period when they played for ```NYA```
    

- Test your view with the following query.

~~~~sql 
create or replace view BOS_players as (select * from Appearances where teamID = "BOS" and yearID >= 2010);
create or replace view NYA_players as (select * from Appearances where teamID = "NYA" and yearID >= 2010);

create or replace view scoundrels as (
	select playerID as playerid, nameLast as traitor_last_name, nameFirst as traitor_first_name,  
	"BOS" as good_guys, first_bos_year, "NYA" as bad_guys, first_nya_year from 
	People natural join ( 
		select playerID, min(b_yID) as first_bos_year, min(n_yID) as first_nya_year from
		(
			select bos_players.playerID, bos_players.yearID as b_yID, bos_players.teamID as good_guys,
			nya_players.yearID as n_yID, nya_players.teamID as bad_guys from 
			bos_players join nya_players where 
			bos_players.playerID = nya_players.playerID and 
			bos_players.yearID <= nya_players.yearID
		) as a group by playerID 
    ) as b order by first_bos_year desc, first_nya_year
)
~~~~

In [18]:
%sql select * from scoundrels;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
15 rows affected.

[('johnske05', 'Johnson', 'Kelly', 'BOS', 2014, 'NYA', 2014),
 ('capuach01', 'Capuano', 'Chris', 'BOS', 2014, 'NYA', 2014),
 ('layneto01', 'Layne', 'Tommy', 'BOS', 2014, 'NYA', 2016),
 ('drewst01', 'Drew', 'Stephen', 'BOS', 2013, 'NYA', 2014),
 ('thornma01', 'Thornton', 'Matt', 'BOS', 2013, 'NYA', 2014),
 ('thomaju01', 'Thomas', 'Justin', 'BOS', 2012, 'NYA', 2012),
 ('lillibr01', 'Lillibridge', 'Brent', 'BOS', 2012, 'NYA', 2013),
 ('bailean01', 'Bailey', 'Andrew', 'BOS', 2012, 'NYA', 2015),
 ('aceveal01', 'Aceves', 'Alfredo', 'BOS', 2011, 'NYA', 2014),
 ('millean01', 'Miller', 'Andrew', 'BOS', 2011, 'NYA', 2015),
 ('molingu01', 'Molina', 'Gustavo', 'BOS', 2010, 'NYA', 2011),
 ('mcdonda02', 'McDonald', 'Darnell', 'BOS', 2010, 'NYA', 2012),
 ('youklke01', 'Youkilis', 'Kevin', 'BOS', 2010, 'NYA', 2013),
 ('ellsbja01', 'Ellsbury', 'Jacoby', 'BOS', 2010, 'NYA', 2014),
 ('hillri01', 'Hill', 'Rich', 'BOS', 2010, 'NYA', 2014)]

# Question 8 $-$ Putting the Pieces Together (30 points)

## Setup

- Entities
    1. A ```student``` has the properties ```uni, last_name, first_name, email, year.```
    2. A ```professor``` has the properties ```uni, last_name, first_name, email, title.```
    3. A ```person``` has the properties ```uni, last_name, first_name, email.```
    4. The relationship between ```student``` and ```person,``` and ```professor``` and ```person``` is ```Is A``` (inheritance).
    

- Constraints:
    1. ```uni``` is unique and of the form ```df9``` where
        - ```d``` is the first letter of the first name
        - ```f``` is the first letter of the last name
        - ```9``` indicates that there were already 8 ```unis``` with the same first two characters.
    2. A ```person``` may be
        - A ```student``` but not a ```professor```
        - A ```professor``` but not a ```student```
        - Neither a ```professor``` or a ```student.```
    3. ```email``` must be unique for all ```person.```
    
    
- Use the Three Table Patter/Solution for inheritance.


## Tasks

1. Create and use a new database/schema ```w4111midterm```


1. Draw a logical data model diagram for the schema using Crow's Foot Notation. You do not have to depict any views.


2. Write the DDL statements for creating the three tables and any views you need. Your statements should include any constraints.


3. Write a function to compute the uni for a new person based on data in the tables.


4. Use triggers to:
    - Enforce the constraint that a ```person``` cannot be a ```student``` and a ```professor.```
    - Prevents a ```uni``` from being modified.


4. Write two stored procedures:
    - ```create_student``` creates a row in the ```students``` and ```persons``` tables.
    - ```create_professor``` creates a row in the ```professors``` and ```persons``` tables.
    
    
5. Create a new user in your database: standard_user, with password "standarduserstandarduser."


6. Set security to allow standard_user to only be able to:
    - Query the views.
    - Execute the two create stored procedures.
    

## Answer Submission

- You may use MySQL Workbench to help you with your tasks.


- Your answer submission should include:
    - All DDL statements for creating tables and views.
    - DDL for all functions, procedures and triggers.
    - REVOKE and GRANT statements for setting permissions for standard_user.
    - Tests that show the correct operation of your solution, including preventing errors.

_Answer_

<img width=400px src="./8.png">

#### DDL statements for creating tables and views

~~~~sql 
CREATE TABLE `w4111midterm`.`person_t` (
  `uni` VARCHAR(64) NOT NULL,
  `last_name` VARCHAR(64) NOT NULL,
  `first_name` VARCHAR(64) NOT NULL,
  `email` VARCHAR(64) NULL DEFAULT NULL,
  `type` ENUM("p", "s") NULL DEFAULT NULL,
  PRIMARY KEY (`uni`),
  UNIQUE INDEX `email_UNIQUE` (`email` ASC) VISIBLE);

CREATE TABLE `w4111midterm`.`professor_t` (
  `uni` VARCHAR(64) NOT NULL,
  `title` VARCHAR(64) NULL DEFAULT NULL,
  PRIMARY KEY (`uni`),
  CONSTRAINT `professor_person`
    FOREIGN KEY (`uni`)
    REFERENCES `w4111midterm`.`person_t` (`uni`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION);

CREATE TABLE `w4111midterm`.`student_t` (
  `uni` VARCHAR(64) NOT NULL,
  `year` YEAR NULL DEFAULT NULL,
  PRIMARY KEY (`uni`),
  CONSTRAINT `student_person`
    FOREIGN KEY (`uni`)
    REFERENCES `w4111midterm`.`person_t` (`uni`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION);

create or replace view person as (
select person_t.uni, person_t.last_name, person_t.first_name, person_t.email,
professor_t.title, student_t.`year` from (person_t left join professor_t using (uni)) 
left join student_t using (uni)
);

create or replace view student as (
select person_t.uni, person_t.last_name, person_t.first_name, person_t.email,
student_t.`year` from person_t natural join student_t 
);

create or replace view professor as (
select person_t.uni, person_t.last_name, person_t.first_name, person_t.email,
professor_t.title from person_t natural join professor_t 
);
~~~~

#### DDL statement for function
~~~~sql
USE `w4111midterm`;
DROP function IF EXISTS `compute_uni`;
DELIMITER $$
USE `w4111midterm`$$
CREATE DEFINER=`dbuser`@`localhost` FUNCTION `compute_uni` (first_name VARCHAR(64), last_name VARCHAR(64))
RETURNS VARCHAR(64) CHARSET utf8mb4 
DETERMINISTIC
BEGIN
    declare fn_prefix char(1);
    declare ln_prefix char(1);
    declare uni_pattern varchar(64);
    declare count int;
    set fn_prefix = lower(substr(first_name, 1, 1));
    set ln_prefix = lower(substr(last_name, 1, 1));
    set uni_pattern = concat(fn_prefix, ln_prefix, "%");
    set count = (select count(*) from person_t where uni like uni_pattern);
RETURN concat(fn_prefix, ln_prefix, count+1);
END$$
DELIMITER ;

~~~~

#### DDL statements for triggers

~~~~sql
DROP TRIGGER IF EXISTS `w4111midterm`.`professor_t_BEFORE_INSERT`;
DELIMITER $$
USE `w4111midterm`$$
CREATE DEFINER = `dbuser`@`localhost` TRIGGER `w4111midterm`.`professor_t_BEFORE_INSERT` BEFORE INSERT ON `professor_t` FOR EACH ROW
BEGIN
	if new.uni in (select uni from student_t) then 
		signal sqlstate "50001"
        set message_text = "A person cannot be a student and a professor";
	end if;
END$$
DELIMITER ;

DROP TRIGGER IF EXISTS `w4111midterm`.`student_t_BEFORE_INSERT`;
DELIMITER $$
USE `w4111midterm`$$
CREATE DEFINER = `dbuser`@`localhost` TRIGGER `w4111midterm`.`student_t_BEFORE_INSERT` BEFORE INSERT ON `student_t` FOR EACH ROW
BEGIN
	if new.uni in (select uni from professor_t) then 
		signal sqlstate "50001"
        set message_text = "A person cannot be a student and a professor";
	end if;
END$$
DELIMITER ;

DROP TRIGGER IF EXISTS `w4111midterm`.`professor_t_BEFORE_UPDATE`;
DELIMITER $$
USE `w4111midterm`$$
CREATE DEFINER = `dbuser`@`localhost` TRIGGER `w4111midterm`.`professor_t_BEFORE_UPDATE` BEFORE UPDATE ON `professor_t` FOR EACH ROW
BEGIN
	if new.uni != old.uni then
		signal sqlstate "50001"
        set message_text = "Updating uni is not allowed.";
	end if;
END$$
DELIMITER ;

DROP TRIGGER IF EXISTS `w4111midterm`.`student_t_BEFORE_UPDATE`;
DELIMITER $$
USE `w4111midterm`$$
CREATE DEFINER = `dbuser`@`localhost` TRIGGER `w4111midterm`.`student_t_BEFORE_UPDATE` BEFORE UPDATE ON `student_t` FOR EACH ROW
BEGIN
	if new.uni != old.uni then
		signal sqlstate "50001"
        set message_text = "Updating uni is not allowed.";
	end if;
END$$
DELIMITER ;

DROP TRIGGER IF EXISTS `w4111midterm`.`person_t_BEFORE_UPDATE`;
DELIMITER $$
USE `w4111midterm`$$
CREATE DEFINER = `dbuser`@`localhost` TRIGGER `w4111midterm`.`person_t_BEFORE_UPDATE` BEFORE UPDATE ON `person_t` FOR EACH ROW
BEGIN
	if new.uni != old.uni then
		signal sqlstate "50001"
        set message_text = "Updating uni is not allowed.";
	end if;
END$$
DELIMITER ;

~~~~

#### DDL statements for procedures

~~~~sql
USE `w4111midterm`;
DROP procedure IF EXISTS `create_student`;
DELIMITER $$
USE `w4111midterm`$$
CREATE DEFINER=`dbuser`@`localhost` PROCEDURE `create_student` (
	in first_name varchar(64),
    in last_name varchar(64),
    in email varchar(64),
    in `year` year
)
BEGIN
	declare myuni varchar(64);
    set myuni = compute_uni(first_name, last_name);
	insert into person_t values 
		(myuni, last_name, first_name, email, "s");
	insert into student_t values
		(myuni, `year`);
END$$
DELIMITER ;


USE `w4111midterm`;
DROP procedure IF EXISTS `create_professor`;
DELIMITER $$
USE `w4111midterm`$$
CREATE DEFINER=`dbuser`@`localhost` PROCEDURE `create_professor` (
	in first_name varchar(64),
    in last_name varchar(64),
    in email varchar(64),
    in title varchar(64)
)
BEGIN
	declare myuni varchar(64);
    set myuni = compute_uni(first_name, last_name);
    insert into person_t values 
		(myuni, last_name, first_name, email, "p");
	insert into professor_t values
		(myuni, title);
END$$
DELIMITER ;


~~~~

#### GRANT/REVOKE statements

In [31]:
# grant permissions to standard_user
%sql grant select on w4111midterm.person to "standard_user";
%sql grant select on w4111midterm.professor to "standard_user";
%sql grant select on w4111midterm.student to "standard_user";
%sql grant execute on procedure w4111midterm.create_student to "standard_user";
%sql grant execute on procedure w4111midterm.create_professor to "standard_user";

 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.

[]

In [30]:
# revoke permissions from standard_user
%sql revoke select on w4111midterm.person from "standard_user";
%sql revoke select on w4111midterm.professor from "standard_user";
%sql revoke select on w4111midterm.student from "standard_user";
%sql revoke execute on procedure w4111midterm.create_student from "standard_user";
%sql revoke execute on procedure w4111midterm.create_professor from "standard_user";

 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.

[]

#### test

In [8]:
%sql use w4111midterm;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.

[]

In [18]:
# clean up
%sql DELETE FROM `w4111midterm`.`student_t` WHERE (`uni` = 'hz1');
%sql DELETE FROM `w4111midterm`.`student_t` WHERE (`uni` = 'hz2');
%sql DELETE FROM `w4111midterm`.`person_t` WHERE (`uni` = 'hz1');
%sql DELETE FROM `w4111midterm`.`person_t` WHERE (`uni` = 'hz2');
# add students
%sql call create_student("haoran", "zhu", "hz3fr@virginia.edu", 2017);
%sql call create_student("henry", "zhu", "hz2712@columbia.edu", 2020);
%sql select * from person;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
1 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
1 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
1 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
1 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
1 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
1 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
2 rows affected.

[('hz1', 'zhu', 'haoran', 'hz3fr@virginia.edu', None, 2017),
 ('hz2', 'zhu', 'henry', 'hz2712@columbia.edu', None, 2020)]

In [19]:
%sql select * from student;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
2 rows affected.

[('hz1', 'zhu', 'haoran', 'hz3fr@virginia.edu', 2017),
 ('hz2', 'zhu', 'henry', 'hz2712@columbia.edu', 2020)]

In [21]:
# clean up 
%sql DELETE FROM `w4111midterm`.`professor_t` WHERE (`uni` = 'df1');
%sql DELETE FROM `w4111midterm`.`professor_t` WHERE (`uni` = 'df2');
%sql DELETE FROM `w4111midterm`.`person_t` WHERE (`uni` = 'df1');
%sql DELETE FROM `w4111midterm`.`person_t` WHERE (`uni` = 'df2');
# add professors
%sql call create_professor("donald", "ferguson", "dff@cs.columbia.edu", "adjunct prof")
%sql call create_professor("donald2", "ferguson2", "dff2@cs.columbia.edu", "adjunct prof")
%sql select * from person;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
1 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
1 rows affected.
 * mysql+pymysql://dbuser:***@localhost/db_book_new
4 rows affected.

[('df1', 'ferguson', 'donald', 'dff@cs.columbia.edu', 'adjunct prof', None),
 ('df2', 'ferguson2', 'donald2', 'dff2@cs.columbia.edu', 'adjunct prof', None),
 ('hz1', 'zhu', 'haoran', 'hz3fr@virginia.edu', None, 2017),
 ('hz2', 'zhu', 'henry', 'hz2712@columbia.edu', None, 2020)]

In [22]:
%sql select * from professor;

 * mysql+pymysql://dbuser:***@localhost/db_book_new
2 rows affected.

[('df1', 'ferguson', 'donald', 'dff@cs.columbia.edu', 'adjunct prof'),
 ('df2', 'ferguson2', 'donald2', 'dff2@cs.columbia.edu', 'adjunct prof')]

In [23]:
# unique email constraint
%sql call create_student("h", "z", "hz3fr@virginia.edu", 2018)

 * mysql+pymysql://dbuser:***@localhost/db_book_new

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'hz3fr@virginia.edu' for key 'person_t.email_UNIQUE'")
[SQL: call create_student("h", "z" , "hz3fr@virginia.edu" , 2018)]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [25]:
# prevent uni from updating
%sql update person_t set uni="testuni" where email = "hz3fr@virginia.edu";

 * mysql+pymysql://dbuser:***@localhost/db_book_new
(pymysql.err.OperationalError) (1644, 'Updating uni is not allowed.')
[SQL: update person_t set uni="testuni" where email = "hz3fr@virginia.edu"]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [28]:
# a person cannot be both a student and a prof
%sql insert into professor_t values ("hz1", "prof");
%sql insert into student_t values ("df1", 2010);

 * mysql+pymysql://dbuser:***@localhost/db_book_new
(pymysql.err.OperationalError) (1644, 'A person cannot be a student and a professor')
[SQL: insert into professor_t values ("hz1", "prof" );]
(Background on this error at: http://sqlalche.me/e/13/e3q8)
 * mysql+pymysql://dbuser:***@localhost/db_book_new
(pymysql.err.OperationalError) (1644, 'A person cannot be a student and a professor')
[SQL: insert into student_t values ("df1", 2010);]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [32]:
# foreign key constraint#1
%sql insert into professor_t values ("myth_uni", "prof");

 * mysql+pymysql://dbuser:***@localhost/db_book_new

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`w4111midterm`.`professor_t`, CONSTRAINT `professor_person` FOREIGN KEY (`uni`) REFERENCES `person_t` (`uni`))')
[SQL: insert into professor_t values ("myth_uni", "prof" );]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [33]:
# foreign key constraint#2
%sql insert into student_t values ("myth_uni", 2020);

 * mysql+pymysql://dbuser:***@localhost/db_book_new

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`w4111midterm`.`student_t`, CONSTRAINT `student_person` FOREIGN KEY (`uni`) REFERENCES `person_t` (`uni`))')
[SQL: insert into student_t values ("myth_uni", 2020);]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

References:
1. https://www.vertabelo.com/blog/inheritance-in-a-relational-database/